.popup__close-btn {
  width: 32px;
  height: 32px;
  border-style: none;
  background-image: url(../../../images/Close\ Icon.svg);
  object-fit: cover;
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  margin-top: -40px;
  margin-right: -40px;
  align-self: flex-end;
}

@media screen and (max-width: 768px){
  .popup__close-btn {
    width: 25px;
    height: 25px;
    background-size: 25px;
    margin-top: -29px;
    margin-right: -29px;
  }
}

@media screen and (max-width: 425px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    background-size: 20px;
    margin-top: -36px;
    margin-right: 0;
  }
}
