.profile__info {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin-bottom: 16px;
}

@media screen and (max-width: 425px) {
  .profile__info {
    max-width: 217px;
    margin-bottom: 14px;
  }
}
