.profile__info {
  display: flex;
  max-width: 100%;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    margin-left: 12%;
  }
}

@media screen and (max-width: 425px) {
  .profile__info {
    margin-bottom: 14px;
    margin-left: 16%;
  }
}
